$colorred: #e3000f;
$colorblue: #004389;

@mixin LineBeforeTitle {
    content: "";
    display: block;
    height: 140px;
    width: 4px;
    background-color: $colorred;
    position: absolute;
}
@mixin bgParameters {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
@mixin Title {
    margin: 253px 0 50px;
    font-size: 40px;
    line-height: 50px;
    position: relative;

    span {
        color: #eb0a19;
    }
}

@mixin videoBtn {
    cursor: pointer;
    display: flex;
    align-items: center;
}

@mixin videoSubtitle {
    font-size: 20px;
    font-weight: normal;
    margin-left: 40px;

}

@mixin stepsArrows {
    position: absolute;
    content: "";
    height: 31px;
    width: 85px;
    top: 27%;
    right: -90px;
}

@mixin stepsArrowsLittle {
    height: 31px;
    width: 17px;
    top: 27%;
    right: -28px;
    position: absolute;
    content: "";
}
@mixin formIcons {
    position: relative;
    font-size: 30px;
    color: #959595;
}
@mixin formIconsBefore {
    position: absolute;
    height: 30px;
    width: 30px;
    top: -20px;
    left: 30px; 
} 